@model IEnumerable<IdentityRole>

@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService authorizationService

@{
    ViewBag.Title = "Todos os papéis";
}
<h1>Todas as papéis</h1>

@if (Model.Any())
{
    @if ((await authorizationService.AuthorizeAsync(User, "CreateRolesPolicy")).Succeeded)
     {
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole" asp-controller="Admin">Adicionar novo papel</a>
     }
    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">Id : @role.Id</div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                
                <form asp-action="DeleteRoles" asp-route-id="@role.Id" method="post">
                    <a asp-action="EditRoles" asp-controller="Admin" asp-route-id="@role.Id" class="btn btn-primary">Editar</a>
                    <span style="display:none" id="confirmDeleteSpan_@role.Id">
                        <span>Você tem certeza que deseja apagar?</span>
                        <button type="submit" class="btn btn-danger">Sim</button>
                        <a href="#" class="btn btn-primary" onclick="confirmDelete('@role.Id', false)">Não</a>
                    </span>
                    <span id="deleteSpan_@role.Id">
                        <a href="#" onclick="confirmDelete('@role.Id', true)" class="btn btn-danger">Apagar</a>
                    </span>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">Nenhum papel criado ainda</div>
         @if ((await authorizationService.AuthorizeAsync(User, "CreateRolesPolicy")).Succeeded)
          {
        <div class="card-body">
            <h5 class="card-title">Clique para adicionar um papel</h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="Admin" asp-action="CreateRole">Criar</a>
        </div>
          }
    </div>
}

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}