@model HomeDetailsViewModel

@{
    ViewBag.Title = "Dados de funcionários";
    var photoPath = "~/images/" + (Model.Employee.PhotoPath ?? "undefined.png");
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Employee.Name</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="@photoPath" asp-append-version="true">
                <br />
                <br />
                <h5>ID do Funcionário: @Model.Employee.Id</h5>
                <h5>Email : @Model.Employee.Email</h5>
                <h5>Departamento : @Model.Employee.Department</h5>

            </div>
            <div class="card-footer text-center">       
                <form asp-action="Erase" asp-controller="Management" asp-route-id="@Model.Employee.Id" method="post">
                    <a asp-controller="Management" asp-action="List" class="btn btn-primary">Voltar</a>
                    <a asp-action="Edit" asp-controller="Management" asp-route-id="@Model.Employee.Id" class="btn btn-primary">Editar</a>
                    <span style="display:none" id="confirmDeleteSpan_@Model.Employee.Id">
                        <span>Você tem certeza que deseja apagar?</span>
                        <button type="submit" class="btn btn-danger">Sim</button>
                        <a href="#" class="btn btn-primary" onclick="confirmDelete('@Model.Employee.Id', false)">Não</a>
                    </span>
                    <span id="deleteSpan_@Model.Employee.Id">
                        <a href="#" onclick="confirmDelete('@Model.Employee.Id', true)" class="btn btn-danger">Apagar</a>
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}